<h1>
  {{ courseName }}
</h1>

<div class="topics">
  <div *ngFor="let topic of courseContent">
    <!-- <div *ngIf="topic.name.includes('Topic')"> -->
    <div class="topic">
      <h2>{{ topic.name }}</h2>
      <ul>
        <li *ngFor="let module of topic.modules">

          <ng-container [ngSwitch] = "module.modname">
            <div class="modcard" *ngSwitchCase = "'quiz'">
              <a [routerLink]="['/quiz', courseId, module.instance]">
                <img [src]="module.modicon" />
                <p>
                  {{ module.name }}
                </p>
              </a>
            </div>
            <div class="modcard" *ngSwitchCase = "'resource'">
              <a [routerLink]="['/resource', courseId, quizId]">
                <img [src]="module.modicon" />
                <p>
                  {{ module.name }}
                </p>
              </a>
            </div>
            <div class="modcard" *ngSwitchDefault>
              <a [href] = "module.url">
                <img [src]="module.modicon" />
                <p>
                  {{ module.name }}
                </p>
              </a>
            </div>
          </ng-container>

          
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</div>
