<div class="users-achivement">
  <h1>Level Up !!</h1>
  <div class="achivement-star">
    <img src="../../../../assets/star.png" alt="">
    <p class="level">4</p>
  </div>
  <div class="exp">
    <div class="trophy-item">
      <!-- <ion-icon name="trophy"></ion-icon> -->
      <i class="fa-solid fa-trophy"></i>
      <span>1</span>
    </div>
    <p>
      738<sup>xp</sup>
    </p>
  </div>
  <div class="progress-bar">
    <div class="bar"></div>
  </div>
  <div class="remain">
    <p>
      <span>5<sup>xp</sup></span> to go
    </p>
  </div>
  <div class="participate" [ngClass] = "cls">
    <span class="close">
      <!-- <ion-icon name = "close" (click) = "close()"></ion-icon> -->
      <i class="fa-solid fa-xmark" (click) = "close()"></i>
    </span>
    <p>
      Participate in the course to gain experience points and level up!
    </p>
  </div>

  <div class="awards">
    <p>
      RECENT REWARDS
    </p>

    <div class="awards__div">
      <div>9<sup>xp</sup></div>
      <div>Course module viewed</div>
      <div>2d</div>
    </div>

    <div class="awards__div">
      <div>9<sup>xp</sup></div>
      <div>Course module viewed</div>
      <div>2d</div>
    </div>

    <div class="awards__div">
      <div>9<sup>xp</sup></div>
      <div> Course module </div>
      <div>2d</div>
    </div>
  </div>

  <div class="icons">
    <div class="item">
      <!-- <ion-icon name="information-circle-outline"></ion-icon> -->
      <i class="fa-solid fa-circle-info"></i>

      <p>Info</p>
    </div>
    <div class="item">
      <!-- <ion-icon name="trophy"></ion-icon> -->
      <i class="fa-solid fa-trophy"></i>

      <p>Ladder</p>
    </div>
  </div>

</div>
