<!-- <pre>
    {{ attemptResponse | json }}
</pre> -->


<div class="review-info">
    <p>
        Started on : {{ attemptResponse.attempt.timestart * 1000 | date: 'MMM d, y h:mm a' }}
    </p>
    <p>
        State : {{ attemptResponse.attempt.state }}
    </p>
    <p>
        Completed on : {{ attemptResponse.attempt.timefinish * 1000 | date: 'MMM d, y h:mm a' }}
    </p>
    <p>
        Time taken: {{ (attemptResponse.attempt.timefinish - attemptResponse.attempt.timestart) | timer }}
    </p>
    <p>
        Score : {{ attemptResponse.attempt.sumgrades }}
    </p>
</div>

<div class="attempt">
    <div *ngFor = "let q of questionsHtml">
        <div [innerHTML] = "q"></div>
    </div>
</div>

<button (click) = "goBack()"  class="floating-btn">
    Return to quiz page
</button>