/* You can add global styles to this file, and also import other style files */

@import "./app/shared/variable";

$brand: #006138;

body{
    overflow-x: hidden;
}

ul{
    li{
        text-decoration: none;
        list-style: none;
    }
}
.floating-btn{
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border: none;
    padding: 10px 40px;
    background-color: $brand-orange;
    color: $brand-white;
}